html,body {
    margin:0;
    padding:0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(207, 237, 251);
font-family: calibri;
align-items: center;
font-weight: bold;
}


.employer {
    background-color: rgb(210, 236, 235);
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
}

.fixed-image {
    width: 300px;
    height: auto;
}

body {
    font-family: Arial;
    line-height: 24px;
    
}

  /*  background: url() no-repeat center center fixed; */


li {
margin: 0 5px;
}

li a {
display: block;
color: rgb(237, 71, 149);
font-size: 18px;
text-align: center;
padding: 10px 14px;
text-decoration: none;
border-radius: 5px;
}

li a:hover:not(.active) {
background-color: #684b4b08;
}

li b {
    color: rgb(26, 25, 28);
}
.active {
background-color: rgb(0, 113, 175);
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer {
    font-size: 14px;
}


.omanimi {
    width: auto;
    height: auto;
}

.sertifikaatit {
    font-size: 40px;
}

.sertit {
    font-size: 32px;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

.linkedin-button:hover {
    background-color: rgb(41, 118, 211);
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.linkedin-button:active {
    background-color: rgb(155, 218, 243);
    opacity: 1;
}

.linkedin-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 36px;
    width: 90px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 0.15s;
    transition: box-shadow 0.15s;
}

section {
    width: 80%;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
footer {
    text-align: center;
}
@media only screen and (min-width: 650px) {
    section {
        width: 75%;

    }
}
@media only screen and (min-width: 1025px) {
    section {
        width: 55%
    }

    header h1 {
        font-size: 80px;
    }
.column {
  float: left;
  width: 50%;

}}
